<% provide(:title, "Blogs | What We Do") %>
<% provide(:body_class, "about-us-page") %>
<!--Learn More About Us Section-->
<section class="learn-more-about-us-section">
    <div class="container-fluid no-padding">

            <div class="banner-container sf">
                    <div class="container">
                        <div class="row">
                            <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                                <span class="separator" style="margin-left: 20px;" >Top Blog |</span>
                                <span class="date-container "> </span>
                            </div>
                            <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Blog</h1>
                        </div>
                    </div>
                </div>
    </div>
</section>
<!--End of Learn More-->

<!--Team info section-->
<section class="team-info-container" id="team-info-container">
  <div class="container">
    <div class="row">
      <div class="members-list col-xs-12 col-md-12">
        <% @blogs.each do |blog| %>
          <%= link_to(blog) do %>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 no-padding team-member">
              <%= image_tag "/uploads/" + blog.pic , class: 'img-responsive', alt: blog.pic %>

              <div class="info-container">
                <div class="name-container">
                  <%= blog.title %>
                </div>

              </div>
            </div>
          <% end %>

          <p>
            <%= blog.des %>
          <p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!--End of Team info section-->
