<% provide(:body_class, "place-page") %>
<!--Start of banner section-->
<section class="main-banner-section">
<div class="container-fluid footer_link_bg">
<div class="container">    
<h1>Blog</h1>
</div>
</div>
</section>
<!--end of banner section-->
 
<!--Start of main info container-->
<section class="main-info-container">





    <div class="container">
        <div class="row">

        <div class="members-list col-xs-12 col-md-12">
       
            <div class="col-md-12 info-text-container blogtextreapt">
            
            <div class="blog_hed no-padding text-left">
                <h3><%= @blog.title %></h3>
            </div>
            <div class="blogimg"><%= link_to image_tag( "/uploads/" + @blog.pic, class: 'img-responsive' )%></div>
             <p class="text-left">
             <%= @blog.des %>
             </p>
             
            </div>
         
        </div>
    </div>
</section>
<!--end of main info container -->

