<% provide(:title, "About Us | What We Do") %>
<% provide(:body_class, "about-us-page") %>

<!--Learn More About Us Section-->
<section class="learn-more-about-us-section">
  <div class="container-fluid no-padding">
    <div class="banner-container sf">
      <div class="container">
        <div class="row">
          <h1 class="title-container col-xs-12 col-sm-12 col-lg-12">
            <div class="city-name">About Us</div>
            <div class="qoute-container col-xs-12 col-sm-12 col-lg-12">Learn More About US</div>
          </h1>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of Learn More-->

<section class="info-about-us-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 info-text-container blogtextreapt">
        <div class="blog_hed no-padding">
          <h3>
            <%= @detail.try(:title) %>
          </h3>
        </div>

        <p>
          <%= @detail.try(:description) %>
        </p>
      </div>
    </div>
  </div>
</section>