<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="make_wine">
    <div class="container-fluid footer_link_bg">
        <div class="container">    
        <h1>Contact Us</h1>
        </div>
    </div>
</section>
<!-- End of banner  -->

 <div class="contact-pageheader">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="contact-caption">
                        <div class="">
                            <h3 class="title-bold">Contact Info</h3>
                            <p>Please help us serve you better by sharing the following information.
                            </p>
                        </div>
                        <div class="contact-section">
                            <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
                            <div class="contact-info">
                                <p>
                                  <%= @contact.try(:address) %>
                                </p>
                            </div>
                        </div>
                         <div class="contact-section">
                            <div class="contact-icon"><i class="fa fa-phone"></i></div>
                            <div class="contact-info">
                             <p>
                               <%= @contact.try(:contact_number) %>
                             </p>
                            </div>
                        </div>
                         <div class="contact-section">
                            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                            <div class="contact-info">
                                <a href="mailto:<%= @contact.try(:email) %>?Subject=Hello%20again" target="_top">
                                  <p>
                                    <%= @contact.try(:email) %>
                                  </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6 col-sm-12 col-xs-12">
                    <div class="contact-form-main">
                        <h3 class="contact-info-title">Contact Me</h3>
                        <div class="row">
                            <form>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only " for="Name"></label>
                                        <input id="name" type="text" placeholder="Name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only " for="email"></label>
                                        <input id="email" type="text" placeholder="Email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only " for="Phone"></label>
                                        <input id="phone" type="text" placeholder="Phone" class="form-control" required>
                                    </div>
                                </div>
                               
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="textarea"></label>
                                        <textarea class="form-control pdt20" id="textarea" name="textarea" rows="4" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <button class="btn btn-lg submitbtn_contactpage">Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    
    