<section class="make_wine">
    <div class="container-fluid footer_link_bg">
        <div class="container">     
        <h1> Faqs </h1>
        </div>
    </div>
</section>
<!-- End of banner  -->
<section class="make_wine_content">
        <div class="container">

                <div class="col-md-12">
                    <div class="inner_text_make_wine">
                          <p> <strong> 1)PageMaker including versions of Lorem Ipsum.</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                        <p> <strong> 2)PageMaker including versions of Lorem Ipsum.</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                        <p> <strong> 3)PageMaker including versions of Lorem Ipsum.</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. 
                        </p>
                        <p> <strong> 4)PageMaker including versions of Lorem Ipsum.</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
        
                    </div>
        
        
                </div>


</section>