<% provide(:title, "Regions Page") %>
  <% provide(:body_class, "regions-page") %>
    <section class="region_section">

    <div class="container-fluid no-padding">
    <div class="banner-container region_banner">
        <div class="container">
            <div class="row">

            <div class="category-title col-xs-12 col-sm-12 col-lg-12">
            <span class="separator" style="margin-left: 20px;" >Top Regions |</span>
            <span class="date-container "></span>
        </div>
        <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Regions</h1>
    </div>




                

            </div>
        </div>
    </div>
</div>

    </section>
<!--region_country-->

<section class="learn-more-section">
        <div class="container mobnopadd">
            <div class="col-md-6 col-sm-12 col-xs-12  inner_textp mobpadd15px">
                <img src="assets/regions_sidehead.jpg" class="img-responsive" width="100%">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 milano_para">
                <div class="inner text-info-container">
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <div class="col-md-12 region_bg">
                    <ul>
              <% @regions && @regions.each do |region| %>
                <li class="col-sm-6">
              
                    <p>
                      <%= region %>
                    </p>
                  
    
                </li>
                <% end %>
                </ul>
            </div>
                </div>
              
            </div>
        </div>
    </section>

    <section class="regins_col">
    <div class="container">
    <div class="col-md-12 regins_col_head">
<div class="bortop1px"></div>
            <div class="col-md-6 regins_col_head">
                    <h3>GRAPES</h3>
                  <div class="col-sm-6 nopadd">
                  <img class="img-responsive" src="/assets/grapes_head.jpg" alt="">
                  </div>
                  <div class="col-sm-6">
                  <p>
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="grapes">Read More</a>
                   </p>
                  </div>
         
                </div>
                <div class="col-md-6 regins_col_head">
                    <h3>ABOUT US</h3>
                    <div class="col-sm-6 nopadd">
                    <img class="img-responsive" src="/assets/about_head.jpg" alt=""> 
                    </div>
                    <div class="col-sm-6">
                    <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  <a href="about">Read More</a>
                     </p>
                    </div>
                </div>


    <div class="col-md-12 from_our_blog">
    <h3>FROM OUR BLOG</h3>
    <div class="col-sm-4 nopadd">
   
        
            <img class="img-responsive" src="/assets/blog_head.jpg" class="img-responsive" alt="">
  
    </div>
    <div class="col-sm-8">
    <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
<a  href="blogs">Read More</a>
    </p>
    </div>

      




           
        </div>
       
        
        </div>
    </div>
</section>