<% provide(:title, "Regions Page") %>
  <% provide(:body_class, "regions-page") %>
    <section class="region_section">
      <div class="container-fluid">
        <div class="col-md-12 region_banner">
          <img src="assets/region_bg.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </section>

    <section class="region_country">
      <div class="container">
        <div class="col-md-12">
          <% @regions && @regions.each do |region| %>
            <div class="col-md-4 region_bg  ">

              <a href="">
                <p>
                  <%= region %>
                </p>
              </a>

            </div>
            <% end %>

        </div>
      </div>
    </section>