
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;

}
*{
    box-sizing: border-box;  
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
a  {
    text-decoration:none;
    outline: none; 
    color:#d23a00;
}
.navbar{
    margin-bottom:0px;
    padding: 15px 0px 1px 0px;
}
.logo a{
    float: left;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav{margin-top: 10px;}
.navbar-nav > li > a{
    font-size:20px!important;
    color:#21800d; 
}
.nav > li > a:hover, .nav > li > a:focus{
    background: transparent;

}
.bg img{
    background-size: cover;   
}

/*End of Navigation*/

.wine{
    margin-top: 60px;
}
.week{
    border: 1px solid #21800d!important;
    position: relative;
    padding-top: 26px;
}
.week .place-link{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.intro-section {
  margin-top: 20px;
  }
.icons h3{
    margin-top: 26px;
    font-size: 24px;
}
.icons p{
    font-size: 14.8px;
    margin-top: 18px;
    margin-bottom: 26px;
}
.heading h2{
    font-size: 50px;
    margin-top: 100px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
}
.heading h2::after, .heading h2::before{
    width: 22%;
    height: 2px;
    content: '';
    position: absolute;
    z-index: 999999;
    background-color: #000000;
    top: 50%;
}
.heading h2::before{
    left: 105px !important; 
}
.heading h2::after{
    right: 105px !important;   
}
.started_filling{
    margin-bottom: 50px;
    margin-top: 66px;
    padding-left: 0;
    margin-left: 100px;
}
.started_filling1{
    padding: 0%;
    margin: 0%;
}
.halfgraybg{
    background: linear-gradient(to left, #ffffff 50%, #e5e5e5 50%);
    min-height: 300px;
}
.halfwhitebg{
    background: linear-gradient(to left, #e5e5e5 50%, #ffffff 50%);
    min-height: 280px;
}
.inner{
    margin-left: 100px;
    font-size: 16px; 
    padding: 30px 0px;
}
.inner p{
    padding-right: 25px;
    padding-left: 0;
}
.icon_img{
    border: 2px solid #21800d;
    float: left;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    text-align: center;
    line-height: 74px;  
}
.icon_img img{
    max-width: 32px;
}
.icons_bar{
    margin-top: 0px;
    overflow: hidden;
    padding-right: 20%;
}
.contentdivicon{
    font-size: 14px;
    margin-left: 100px;
    margin-top: 10px
}
.contentdiviconmidgap{
    margin:35px 0px 35px 0px;
}
.grapic{
    margin-top: 100px;
}
.grapic_img img{
    height: 60vh;
}
.grap_guede h2{
    color: #21800d;
}
.grap_guede h2::after{
    width: 12%;
    height: 4px;
    content: '';
    position: absolute;
    z-index: 999999;
    background-color: #a00732;
    bottom: -20%;
    left: 585px;
    top: 150%;
    border-radius: 22%; 
}
.opinions_img{
    border: 1px solid #21800d;
    border-radius: 50%;
    padding: 15px;
    margin-top: -40px;
    margin-left: 30px;
}
.bar_op h2{
    font-size: 25px;
}
.bar_op{
    margin-left: 100px;
}
.inner_text1{
    background-color: #e5e5e5;
    padding: 0%;
}
.inner1{
    margin-right: 100px;
    font-size: 23px;  
}
.inner1 p{
    text-align: justify;
    padding: 25px;
}
footer{
    background-color: #707838;
    margin-top:50px;
    padding-bottom: 30px !important;
}
footer ul li {
    color: #ffffff;
}
.bottom_logo{
margin-top: 35px;
}
.bottom_logo p{
    color: #ffffff;
    font-size: 18.01px;
    margin-top: 30px;
}
.copy p{
    margin-top: 20px;
}
.list{
    color: #ffffff;
    margin-top: 50px;
    margin-left: 0px;
}
.list p{
    font-size: 14px;
}
.list ul{
    margin: 0%;
    padding: 0%;
}
.list ul li{
    list-style-type: none;
    margin: 10px;
    margin-left: 0px;
    clear: both;
}

.bootom_footer{
    background-color: #707838!important;
    color: #ffffff;
    padding-top: 20px;
    border-top: 1px solid #ffffff !important;
}
.bootom_footer p{
    font-size: 12px;
}

.social_icons_bot ul{
    margin: 0%;
    padding: 0%;
    margin-bottom: 20px;
}
.social_icons_bot ul li{
    list-style-type: none;
    display: inline;
    margin: 5px;
}
.social_icons_bot ul li:last-child{
    margin-right: 0px!important;
}
.learn-more-section .progress-container .progress-list .progress-item .icon-expert, .learn-more-section .progress-container .progress-list .progress-item .icon-awards, .learn-more-section .progress-container .progress-list .progress-item .icon-phone{
    float:right;
    BORDER-RADIUS: 50%;
    BACKGROUND-POSITION: CENTER;
    border: 2px solid #21800d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.learn-more-section .progress-container .progress-list{
    padding-right: 0;
}
.container .mobnopadd{
    padding-left: 0px !important;
}
.learn-more-section .progress-container .progress-list .progress-item .progress-bar-wrapper{
    max-width: 78%;
    margin-left: 0 !important
}
.learn-more-section .progress-container .progress-list .progress-item .progress-name-container{
    padding-top:15px;
    padding-left: 0;
}
.greenbg{    
    background-color: #218212!important;
}

.join-wrapper{
    background-color: #ffffff!important;
    width: 80%;
    padding:5PX 0PX;
    overflow: hidden;
}
.join-wrapper input, .join-wrapper input::focus{
    background: #ffffff;
    float: left;
    border: 0px solid #fff;
    padding: 6px 10PX 5PX 10px;
    MAX-WIDTH: 192PX;
    box-shadow: none;
   }
   .newsletter_input{
    margin: 0px;
    padding: 5px;
    border: 0px;
    margin-right: -4px;
    border-right: 1px solid #333333;
}
.join-wrapper button, .join-wrapper button:hover{
 background: #ffffff;  
 float:right;
 border: 0px solid #fff;
 box-shadow: none;
 text-transform: capitalize;
 padding: 10px 20px; 
}
footer a{color:#fff!important;}
footer a:hover{color:#fff!important;opacity: .6;}
.bootom_footer a, .bootom_footer a:link, .bootom_footer a:visited{
    color: #e5e5e5;
}
.footerlocation li{
margin-bottom: 5px!important;
overflow: hidden;
}
.footerlocation li a{
    line-height: 25px!important;
    }
.places-section{
    margin-top: 0px;
}
.started_filling{
    margin-bottom: 50px;
    margin-top: 50px;
}

.learn-more-section .progress-container .progress-list .progress-item .icon-expert {
    background-image: url(/assets/expert1.png);
    background-size: 30px;
 
}
.learn-more-section .progress-container .progress-list .progress-item .icon-awards{
    background-image: url(/assets/previous1.png);
    background-size: 32px;
}
.learn-more-section .progress-container .progress-list .progress-item .icon-phone{
    background-image: url(/assets/other1.png);
    background-size: 24px;
}
.learn-more-section .progress-container .progress-list .progress-item .icon-expert, .learn-more-section .progress-container .progress-list .progress-item .icon-awards, .learn-more-section .progress-container .progress-list .progress-item .icon-phone{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button{
    border-radius :unset !important;
    background-color:#fff;
    background-image: linear-gradient(180deg, #ffffff, #ffffff); 
}
.search-section .container-fluid .heading-container span{
    margin-top: 13%;
}
.search-section .container-fluid .search-field-container .search-wrapper #s2id_search_select .select2-choice{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.search-section .container-fluid .search-field-container .search-wrapper #s2id_search_select{
    border: none;
    border-left: 1px solid #000000;
    border-radius: unset;
}
.feature-section .img-wrapper .image-container{
    background-image: url(/assets/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.blackoverlay{background: rgba(0, 0, 0, 0.3)!important;padding-left: 30px;}
.feature-section .img-wrapper .image-container .info-container .button-container .read-more-container{
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 27%;
    margin-bottom: 10px;
    float: unset;
    line-height: 30px;
}
.feature-section .img-wrapper .image-container .info-container .button-container .read-more-container:hover{
    background-color:#21800d;
}
.feature-section .img-wrapper .image-container .info-container .button-container .read-more-container a{
    border:0px solid #fff;
    padding:5px 0px!important;
    text-align: center!important;
    display: block;
    width: 100%;
}

.select2-container .select2-choice > .select2-chosen{
    color: #21800d;
    font-size: 15px;
}
input{
    line-height: 2.1;
}
.search-section .container-fluid .search-field-container .search-wrapper .search_button{
    background-image: linear-gradient(180deg, #1c8211, #1c8211);

}
#s2id_search_select {
    float: left;
    width: 180px;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 0px;
    margin-top: 13px;
    outline: 0;
    
  }
.select2-arrow {
    border-left: 0px;
    background-image: none;
    background-color: #ffffff!important;

  }
  .select2-choice {
    background-image: none;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 0px!important;
             }
.locationlink{
display:block;
clear: both;
}
.locationlink a i{
    float: left;
    font-size: 20px;
}
.locationlink ul li{
    clear: both;
}
.locationlink a span{
    float: left;
    max-width: 90%;
    margin-left: 5px;
    margin-top: -3px;
    overflow: hidden;
}
.lineheight18px{
    line-height: 18px!important;
}
.feature-section .img-wrapper .image-container{
height: auto!important;
min-height: 330px;
}
.feature-section .img-wrapper .image-container .info-container{
   padding-top: 0px;
}
.search-wrapper:hover, .search-wrapper:focus {
    -webkit-box-shadow:inherit!important;
    -moz-box-shadow:inherit!important;
    box-shadow:inherit!important;
  }
  .search-wrapper .focus {
    -webkit-box-shadow:inherit!important;
    -moz-box-shadow:inherit!important;
    box-shadow:inherit!important;
  }
  .search-section .container-fluid .search-field-container .search-wrapper .search_field_input:focus, .select2-drop-mask:focus{
      box-shadow: none!important;
  }
  .mobpadd15px{
      padding-left: 0;
  }
  .why_are p{
      margin-left: 30px;
  }
/* Grape page start*/

.ranking-page .main-banner-section .banner-container .places-container{
    text-align: left !important;
    padding-left: 0 !important;
}
.ranking-page .main-banner-section .banner-container .category-title{
    text-align: left !important;
}
.regins span{
    color: #218212;
}
.regins :first-child{
    padding-left: 22px;
}
.regins :last-child{
    margin-left: 20px;
}
.regins_para{
    margin-top: 100px;
}
.regins_col ul{
    margin: 0;
    padding: 0;
}
.regins_col ul li{
    list-style-type: none;
}
.ranking-page .main-banner-section .banner-container{
    background-image: url('grap_bg.jpg');
}
.contry_list{
    float: left;
    padding-left: 0%;
}
.contry_list ul{
    float: left !important;
    
}
.regins_col{
    margin-bottom: 100px;
}
.regins_col img{
    height: 60vh;
}
/* section region_banner */

.region_banner{
    padding: 0%;
    margin: 0;
}
.region_country{
    margin-top: 50px;
}
.region_country p span{
    font-size: 25px;
} 
.region_overlay {
    position: relative;
    
  }
.region_overlay:hover .overlay {
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7c2b47;
  }
.overlay .text{
    color: white;
  font-size: 20px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p{
    margin-top: 60px;
    padding: 22px;
    color: #fff;
    font-size: 14px;
    opacity: 1;
}


@media(min-width:992px){
    .heading h2{
        font-size: 40px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .learn-more-section .progress-container .progress-list .progress-item .progress-bar-wrapper{
        margin-left: 26px;
    }
    .learn-more-section .progress-container .progress-list .progress-item .icon-expert, .learn-more-section .progress-container .progress-list .progress-item .icon-awards, .learn-more-section .progress-container .progress-list .progress-item .icon-phone{
        margin-right: 5px;
    }

}

@media(min-width:768px){
    .logo{
        margin-left: 10px!important;
    }
    .logo img{
        max-width: 240px!important;
    }
    .search-section .container-fluid .search-field-container .search-wrapper #s2id_search_select {
        background-color:unset;
        margin-left: -32px;
    }
    .wine_inner{
        margin-bottom :0px;
          
        }
    .heading h2{
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 50px;
        }
    .inner{
        margin-left: 0px;
    }
}



@media(max-width:767px){
    .halfgraybg{
        background: linear-gradient(to top, #ffffff 50%, #e5e5e5 50%);
        min-height: 360px;
    }
    .halfwhitebg{
        background: #ffffff;
       
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
        margin-bottom: 10px;
    }
    .blackoverlay{overflow: hidden;padding:5px 20px!important;}
    .blackoverlay .social-list{top:inherit!important;}
    .feature-section .img-wrapper .image-container {
        background-position: right;
    }
    .search_icon{position: absolute;
        z-index: 99999999;
        left: 6px;}
    .search-section .container-fluid .search-field-container .search-wrapper .search_field_input{
       width: 94%!important;
        max-width: inherit!important;
        text-align: center!important;
    }
    .select2-choice{padding: 10px 0px;height: inherit;}
    .search-wrapper{max-height: inherit!important;height:auto!important;overflow: hidden;}
    .search-section #s2id_search_select{display: block!important;width: 100%!important;border-left:0px solid #fff!important;}
    .logo{
        margin-left: 10px!important;
    }
    .logo img{
        max-width: 240px!important;
    }
    .wine_inner{
        margin-bottom: 20px;
    }
    .wine{
        margin-top: 50px;
    }
    .icons h3{
        font-size: 25px;
        margin-top: 25px;
    }
    .icons p{
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 42px;
    }
    .icons{
        margin-top: 0px;
    }
    .heading h2 {
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: bold;
    }
    .inner{
        margin-left:0px;
        font-size: 13px;
        padding: 0px;
    }
    .started_filling{
        margin-bottom: 40px;
        margin-left: 0px;
        margin-top: -30px;

    }
    .inner p{
        padding: 20px 10px;
    }
    .icons_bar{
        padding-left: 10px;
         margin-top: 0px;
        overflow: hidden;
        padding-right: 0%;
        margin-bottom: 20px;
    }
    .blackoverlay{
       padding:0px !important;
    
    }
    .feature-section .img-wrapper .image-container .info-container .text-container{
       font-size: 16px;
       margin-top: -15px;
    }
    .feature-section .img-wrapper .image-container .info-container .button-container .read-more-container{
        width: 100%;
    }
    .learn-more-section .progress-container .progress-list .progress-item .progress-name-container {
         padding-top: 15px;
         padding-left: 0;
         font-size: 14.5px;
    }
    .learn-more-section .progress-container .progress-list .progress-item .progress-bar-wrapper{
        max-width: 70%;
        margin-left: 0px;
    }
    .learn-more-section .progress-container .progress-list .progress-item{
        padding-right: 0px;
    }
    .learn-more-section .progress-container .progress-list .progress-item .icon-expert, .learn-more-section .progress-container .progress-list .progress-item .icon-awards, .learn-more-section .progress-container .progress-list .progress-item .icon-phone {
        width: 80px;
        height: 80px;
        margin-right: 0px;
    }
    .contentdivicon {
        font-size: 12px;
        margin-left: 90px;
        margin-top: 14px;
    }
    .search-section .container-fluid .heading-container span{
        font-size: 34px;
    }
    .inner_textp{
        padding-left: 0px !important;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .icons_col{
       padding-right: 0px !important; 
       padding-left: 0px !important; 
       margin-top: 0px !important;
    }
    .bottom_logo {
        margin-top: 16px;
    }
    .join-wrapper{
        width: 100%;
    }
    .join-wrapper button, .join-wrapper button:hover{
        padding: 10px 40px;
    }
    .list{
        margin-top:20px;
    }
    footer{
        text-align: center !important;
    }
    .bootom_footer{
        text-align: center !important;
        padding-top: 0 !important
    }
    .social_icons_bot{

        text-align: center !important;
    }
    .locationlink a i{
        float:inherit;
    }
    .locationlink a span{
        float:inherit;
    }
    .heading h2::after, .heading h2::before{
        width: 22%;
        
    }
    .icons_col{
        margin-top:60px !important;
        margin-bottom:0px;
    }
    .inner_para{
        margin-top:0px;
        background: #e5e5e5;
    }
    .mobnopadd{
        padding: 0px!important;
    }
    .mobpadd15px{
        padding: 15px;

    }
    .marbot100px{
        margin-bottom: 100px;
        padding-right: 0 !important;
    }
    .navbar-toggle{
        background: #ffffff!important;
        border: 1px solid #000000;
        box-shadow: 0px;
        margin-bottom: 0px;
    }
    .navbar-toggle .icon-bar{
        background: #000000;
    }
    a.button:not(.disabled):active, a:link.button:not(.disabled):active, a:visited.button:not(.disabled):active, input[type=submit]:not(.disabled):active, input[type=button]:not(.disabled):active, button:not(.disabled):active{
        background: #e5e5e5;
    }
   .navbar-collapse{
       margin-top: 15px;
   }
   .heading h2::after, .heading h2::before{
    width: 12%;
}
.heading h2::before{
    left: 30px !important; 
}
.heading h2::after{
    right: 30px !important;   
}
.feature-section .img-wrapper .image-container .info-container .title-container{
    font-size: 18px !important;
}
.feature-section .img-wrapper .image-container .info-container .text-container{
    padding-top: 23px !important;
}
.feature-section {
    margin-top: 0px !important;

}
.learn-more-section .progress-container .progress-list .progress-item{
    padding-left: 22px !important;
}
.marbot100px{
    margin-bottom: 50PX;
}

}