<% provide(:body_class, "ranking-page") %>
<!--Start of Banner section-->
<section class="main-banner-section">
    <div class="container-fluid no-padding">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                    <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Grapes</h1>
                        <span class="separator">Top Grape|</span>
                        <span class="date-container "> <%= DateTime.now.strftime "%B %Y" %></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Banner section-->


<section class="learn-more-section">
<div class="container-fluid">
<div class="col-sm-12">
  <div class="heading text-center">

  </div>
</div>

      <div class="container mobnopadd">
        <div class="col-md-6 col-sm-12 col-xs-12 inner_textp mobpadd15px">
           <img src="assets/grap_bottal.jpg" class="img-responsive" width="100%">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="inner text-info-container">
        <p>
        <strong>So</strong> why are some wines cheap, and others are more expensive? Cheap wines are stock-picked from the vineyards and processed by machinery. The grapes are often damaged or require large amounts of pesticides to help keep rot and decay at bay. Many preservatives are added, lowering sanitation standards and decreasing production costs. When you purchase a cheap bottle of wine, you are paying for pesticides, preservatives, and low quality grapes.
      </p>
      </div>
       <div class="regins">
        <span> REGIONS  : </span> MILANO  <span> SUPPLYER  : </span> PERSON2
       </div>
      </div>

      </div>
  
</section>

<!--Start of regions -->
<section class="regins_col">
  <div class="container">
    <div class="col-md-6">
       <h2>REGIONS</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
       <div class="">
       <ul>
            <li> <a href=""> </a> <span> Scotland </span>    </li>
            <li> <a href=""> </a> <span> Wales</span>    </li>
            <li> <a href=""> </a> <span>North West </span>   </li>
            <li> <a href=""> </a> <span>London South East </span>  </li>
          </ul>
        </div>
    </div>

    <div class="col-md-6 ">
       <h2>FROM OUR BLOG</h2>
       <div class="from_our_blog">
        <div class="col-md-6">
           <img src="assets/lady_back.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-6">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
           <button> READ MORE </button>
        </div>

       </div>
    </div>
  </div>
</section>






