<!--Footer Start-->
<footer>
	<div class="container">
		<div class="">
			<div class="col-md-4 col-xs-12 col-sm-12 bottom_logo inner_textp ">
			 <a href="">	<img src="assets/bottom_logo.png" width="80%" alt=""> </a>
				<p>
					<a href=""> <b>NEWS LETTER</b> </a>
				</p>
				 <div class="join-wrapper">
					<input class="newsletter_input" placeholder="Enter Email" type="email">
				 	<button class="">Join</button>
			</div>
			 <!-- <form action="#">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Enter Email" id="email">
						<button class="join-button sf">Join</button>
					</div>
				</form>  -->
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12 inner_textp ">
				<div class="list">
					<p>
						<b> <a href="#">CUSTOMER SERVICES </a> </b>
					</p>
					<ul>
						<li> <a href="#">Wine of the week </a> </li>
						<li> <a href="#">Grape of the week </a> </li>
						<li> <a href="#"> How to make wine </a> </li>
						<li> <a href="#"> What is your bottle</a>  </li>
						<li><a href="#">Order Status </a> </li>
						<li> <a href="#"> How It Works </a>  </li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 col-xs-12 col-sm-12 inner_textp ">
				<div class="list">
					<p>
						<b><a href="#">ABOUT US </a>  </b>
					</p>
					<ul>
						<li> <a href="#"> FAQs </a> </li>
						<li> <a href="#"> Mobile Solution </a> </li>
						<li> <a href="#"> Enterprise </a> </li>
						<li> <a href="#"> UI-UX  </a> </li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12 inner_textp ">
				<div class="list">
					<p>
						<b> <a href="#">FINDS US </a>  </b>
					</p>
					<ul class="footerlocation">
						<li class="locationlink">
						<a href="#">  <i class="fa fa-map-marker" style="color:#ffffff !important;"></i>
						<span class="lineheight18px">157 New Kent Rd, Borough, London SE1 4AG, UK </a>	 </li>
						</span>
						<li class="locationlink">
						<a href="#"> <i class="fa fa-mobile" aria-hidden="true"></i>
					 <span>	(000) 123 456789 </span> </a>	
						</li>
						<li >
						<a href="#"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
					 <span>	SF@Grapedia.com </span> </a>	 </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<section class="bootom_footer">
	<div class="container">
		<div class="">
			<div class="col-md-6 col-xs-12 col-sm-12 ">
				<div class="copy">
					<p>
						 <a href="#">Grapedia © 2018. All Rights Reserved. </a>
					</p>
				</div>
			</div>

			<div class="col-md-6 col-xs-12 col-sm-12 ">
				<div class="social_icons_bot text-right">
					<p>
						<b><a href="#">CONNECT WITH US  </a></b>
					</p>
					<ul class="">
						<li>
							<a href="">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="">
							<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="">
							<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="">
							<i class="fa fa-google-plus" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						    </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
 </body>
</html>